@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.pagination button {
  margin: 0 0px;
  padding: 5px 10px;
  border: none;
  background-color: #ffffff;
  border-radius: 0px;
  border: 1px solid #3b4cff;
  cursor: pointer;
  color: rgb(0, 0, 0);
}

.pagination button.active {
  background-color: #3b4cff;
  color: white;
}

.pagination button[disabled] {
  cursor: not-allowed;
  opacity: 0.6;
}
